// Place all the styles related to the Debentures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica Neue Condensed Black.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: font-path("fonts/HelveticaNeueCyr-UltraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-UltraLight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Thin.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Roman.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: font-path("fonts/HelveticaNeueCyr-MediumItaicl.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-LightItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Light.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Italic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-HeavyItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Heavy.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Black.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica Neue Condensed Bold.ttf");
  font-weight: 100;
  font-style: normal;
}

/// GENERATE START

.gen-main-container
{
  text-align: center;
}

.gen-inputs-container
{
  text-align: left;
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
  vertical-align: top;
}

.gen-input
{
  display: block;
  width: calc(100% - 20px);
  border: #bfbfbf 1px solid;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 18px;
  margin-bottom: 10px;
}

#gen-submit-container
{
  display: block;
  text-align: center;
  margin-top: 10px;
}

.gen-href
{
  margin: 4px 2px;
  font-family: Arial;
  display: inline-block;
}

.blank-container
{
  text-align: left;
  width: 470px;
  padding: 15px;
  margin-left: calc((100% - 500px) / 2);
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.blank-container span
{
  font-family: 'Helvetica Neue';
  font-weight: 600;
  font-style: italic;
}

#input-sanction
{
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0 10px 0 rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 10000px;
  display: inline-block;
  position: relative;
  margin-bottom: -3px;
}

#input-sanction:active, #input-sanction:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#input-sanction:checked {
  background-color: #00ee37;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 159, 119, 0.59), inset 0px 0 10px 0 rgba(0, 255, 92, 0.55), inset 0px 0 10px 0 rgba(0, 73, 255, 0.7);
  color: #99a1a7;
}

#payment-table
{
  font-size: 18px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 20px;
}


#payment-table .main-row
{
  font-weight: 600;
}

#payment-table tr
{
  text-align: right;
}

#payment-table tr td
{
  padding-left: 7px;
  padding-right: 7px;
}

#href-for-friends
{
  font-family: "Helvetica Neue";
  font-weight: 400;
}

/// GENERATE END