// Place all the styles related to the Debentures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/// GENERATE START

.gen-main-container
{
  text-align: center;
}

.gen-inputs-container
{
  text-align: left;
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
  vertical-align: top;
}

.gen-input
{
  display: block;
  width: calc(100% - 20px);
  border: #bfbfbf 1px solid;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 18px;
  margin-bottom: 10px;
}

.gen-href
{
  margin: 4px 2px;
  font-family: Arial;
  display: inline-block;
}

/// GENERATE END